<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TalkingDataAPPID</key>
	<string>E698361A0CE145D4AF22E3DDB720311A</string>
	<key>UmengKey</key>
	<string>5a337c76f29d9863b200011f</string>
</dict>
</plist>
